<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title>Modificar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header class="card-color-fondo-letras">
        <div class="centrar">
          <h2>Modificar Bioma</h2>
          <p>Para modificar los datos del bioma, cambie cualquier datos que quiera para despues presionar el boton modificar bioma.</p>
        </div>
      </ion-card-header>

      <ion-card-content class="card-color-fondo"><br>
        <ion-item>
          <ion-input label="Nombre el id del Bioma" labelPlacement="floating" placeholder="Ingrese el id del bioma" [(ngModel)]="biomas.minecraft_bioma_id"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Nombre del Bioma" labelPlacement="floating" placeholder="Ingrese el nombre del bioma" [(ngModel)]="biomas.bioma_nombre"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Descripcion del bioma" labelPlacement="floating" placeholder="Ingrese la descripcion"  [(ngModel)]="biomas.bioma_descripcion"></ion-input>
        </ion-item>
    
        <div class="centrar">
          <ion-button color="success" (click)="update()">Modificar Bioma</ion-button>
        </div>

      </ion-card-content>
    </ion-card>

  </ion-content>
</div>
