<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Biomas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Biomas</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="centrar">
      <ion-item-sliding *ngFor="let x of arregloBiomas" (click)="goBiomaContenido(x)">
        <ion-item>
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ x.bioma_nombre }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-item>
      </ion-item-sliding>
    </div>

  </ion-content>
</div>