<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title>ionicCraft</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Registro</ion-title>
      </ion-toolbar>
    </ion-header>
    <br>
    <ion-card>
      <ion-card-header class="card-color-fondo-letras">
        <div class="centrar">
          <h2>Crear Cuenta Fan</h2>
          <p>Para crear una cuenta en IonicCraft, ingrese sus datos y haga clic en Registrarse.</p>
        </div>
      </ion-card-header>
      <ion-card-content class="card-color-fondo"><br>
        <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
          <ion-item>
              <ion-icon name="person-outline"></ion-icon>
              <ion-input formControlName="nickname" labelPlacement="floating" placeholder="IonicCraft">
                <div slot="label">Nombre de Usuario</div>
              </ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input formControlName="email" labelPlacement="floating" type="email" placeholder="ionic.craft@ionic.cl">
              <div slot="label">Email</div>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input formControlName="password" labelPlacement="floating" type="password" placeholder="2024IonicCraft!">
              <div slot="label">Contraseña</div>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input formControlName="confirmPassword" labelPlacement="floating" type="password" placeholder="2024IonicCraft!">
              <div slot="label">Confirmar Contraseña</div>
            </ion-input>
          </ion-item>
        </form>
        <div class="centrar">
          <ion-button (click)="guardar()">Registrarse</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>