// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

ion-title {
    color: rgb(93, 213, 254);
    padding: 10px;
}

.centrar {
    text-align: center;
}

h1 {
    color: rgb(21, 147, 55);
}

.colorLetra {
    color: rgb(137, 70, 10);
}