// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

ion-title {
    color: rgb(2, 163, 2);
    font-weight: bold;
    padding: 10px;
}

ion-toolbar {
    color: rgb(2, 163, 2);
    font-weight: bold;
}

ion-card-title, ion-card-subtitle {
    color: rgb(2, 163, 2);
    font-weight: bold;
}

ion-card-content {
    color: rgb(0, 222, 185);
}

h1 {
    color: rgb(21, 147, 55);
    font-weight: bold;
}

.centrar {
    text-align: center;
}

.colorLetra {
    color: rgb(137, 70, 10);
    font-weight: bold;
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto; /* Permite el desplazamiento horizontal si hay más elementos */
    padding: 10px; /* Espaciado interno opcional */
}

.caracteristica-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .caracteristica-item img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }