// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

ion-title {
    color: rgb(2, 163, 2);
    font-weight: bold;
    padding: 10px;
}

ion-toolbar {
    color: rgb(2, 163, 2);
    font-weight: bold;
}

ion-card-title, ion-card-subtitle {
    color: rgb(2, 163, 2);
    font-weight: bold;
}

ion-card-content {
    color: rgb(0, 222, 185);
}

h1 {
    color: rgb(2, 163, 2);
    font-weight: bold;
}

.centrar {
    text-align: center;
}

.colorLetra {
    color: rgb(137, 70, 10);
    font-weight: bold;
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}

.caracteristica-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .caracteristica-item img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }

  .card-color-fondo {
    background-color: rgb(158, 91, 67);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }

  .card-color-fondo-letras {
    color: rgb(250, 250, 250);
    background-color: rgb(92, 169, 46);
  }