<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <div class="container centrar">
          <img src="/assets/ImagesLogos/Fondo.jpg" alt="Fondo">
        </div>
        <ion-title class="centrar">Menú de ionicCraft</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list [inset]="true">

        <ion-item>
          <ion-button fill="clear" routerLink="/perfil" (click)="closeMenu()">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear" routerLink="/home" (click)="closeMenu()">
            <ion-icon name="home-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear" routerLink="/biomas" (click)="closeMenu()">
            <ion-icon name="cloudy-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Biomas</ion-label>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear" routerLink="/fotos" (click)="closeMenu()">
            <ion-icon name="images-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Foro de Fotos</ion-label>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear" routerLink="/api" (click)="closeMenu()">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Skin Jugadores</ion-label>
          </ion-button>
        </ion-item>
        
        <ion-item>
          <ion-button expand="full" (click)="toggleItem()">
            <ion-label>Modo Admin</ion-label>
          </ion-button>
        </ion-item>

        <ion-item *ngIf="mostrarItem">
          <ion-button fill="clear" routerLink="/read" (click)="closeMenu()">
            <ion-icon name="cloudy-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Listar Biomas</ion-label>
          </ion-button>
        </ion-item>

        <ion-item *ngIf="mostrarItem">
          <ion-button fill="clear" routerLink="/read-usuarios" (click)="closeMenu()">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Listar Usuarios</ion-label>
          </ion-button>
        </ion-item>

        <ion-item *ngIf="mostrarItem">
          <ion-button fill="clear" routerLink="/not-found" (click)="closeMenu()">
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>NotFound</ion-label>
          </ion-button>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
  
</ion-app>
