<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <img src="https://raw.githubusercontent.com/JoseArgz8658/ionicCraft-Images/main/ImagesLogos/Fondo.jpg" alt="Fondo">
        <ion-title class="centrar">Menú de ionicCraft</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list [inset]="true">

        <ion-item>
          <ion-button fill="clear" routerLink="/perfil">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear" routerLink="/home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear" routerLink="/biomas">
            <ion-icon name="cloudy-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Biomas</ion-label>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear" routerLink="/fotos">
            <ion-icon name="images-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Foro de Fotos</ion-label>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear" routerLink="/read">
            <ion-icon name="cloudy-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Listar Biomas</ion-label>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear" routerLink="/read-usuarios">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label>Listar Usuarios</ion-label>
          </ion-button>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
  
</ion-app>
