<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title>Crear otro bioma</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header class="card-color-fondo-letras">
        <div class="centrar">
          <h2>Agregar Nuevo Bioma</h2>
          <p>Ingrese los datos para agregar un nuevo Bioma.</p>
        </div>
      </ion-card-header>

      <ion-card-content class="card-color-fondo"><br>
        <ion-item>
          <ion-input label="Minecraft id bioma" labelPlacement="floating" placeholder="mi_nuevo_minecraft_id_bioma" [(ngModel)]="minecraft_bioma_id" [attr.pattern]="'^[a-z0-9_]+$'" [attr.maxlength]="50" required></ion-input>
          <ion-button color="light" shape="round" slot="end" (click)="toggleHelp1()">
            <ion-icon color="dark" name="information-circle-outline" style="font-size: 30px;"></ion-icon>
          </ion-button>
        </ion-item>

        <div *ngIf="showHelp1" class="centrar">
          <ion-card>
            <ion-card-header>
              <ion-card-title>¿Que hago?</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              En este campo debe ingresar un <strong>"Minecraft id bioma"</strong> ejemplo:
              <br><br>
              <li><strong>mi_nuevo_minecraft_id_bioma</strong></li>
              <br>
              Para mas informacion, presione el boton de ayuda <ion-icon color="warning" name="information-circle-outline"></ion-icon> al final de la pagina.
            </ion-card-content>
          </ion-card>  
        </div>
    
        <ion-item>
          <ion-input label="Nombre del Bioma" labelPlacement="floating" placeholder="Mi nuevo Bioma" [(ngModel)]="bioma_nombre" [attr.pattern]="'^[a-zA-Z\s]+$'" [attr.maxlength]="50" required></ion-input>
          <ion-button color="light" shape="round" slot="end" (click)="toggleHelp2()">
            <ion-icon color="dark" name="information-circle-outline" style="font-size: 30px;"></ion-icon>
          </ion-button>
        </ion-item>

        <div *ngIf="showHelp2" class="centrar">
          <ion-card>
            <ion-card-header>
              <ion-card-title>¿Que hago?</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              En este campo debe ingresar un <strong>"Nombre del Bioma"</strong> ejemplo:
              <br><br>
              <li><strong>Mi nuevo Bioma</strong></li>
              <br>
              Para mas informacion, presione el boton de ayuda <ion-icon color="warning" name="information-circle-outline"></ion-icon> al final de la pagina.
            </ion-card-content>
          </ion-card>  
        </div>
    
        <ion-item>
          <ion-input label="Descricion del Bioma" labelPlacement="floating" placeholder="Este es mi es mi nuevo bioma..."  [(ngModel)]="bioma_descripcion" [attr.pattern]="'^[a-zA-Z\s]+$'" [attr.maxlength]="300" required></ion-input>
          <ion-button color="light" shape="round" slot="end" (click)="toggleHelp3()">
            <ion-icon color="dark" name="information-circle-outline" style="font-size: 30px;"></ion-icon>
          </ion-button>
        </ion-item>

        <div *ngIf="showHelp3" class="centrar">
          <ion-card>
            <ion-card-header>
              <ion-card-title>¿Que hago?</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              En este campo debe ingresar un <strong>"Descricion del Bioma"</strong> ejemplo:
              <br><br>
              <li><strong>Este es mi es mi nuevo bioma...</strong></li>
              <br>
              Para mas informacion, presione el boton de ayuda <ion-icon color="warning" name="information-circle-outline"></ion-icon> al final de la pagina.
            </ion-card-content>
          </ion-card>  
        </div>

        <div class="centrar">
          <ion-button expand="full" color="success" (click)="agregar()">Agregar Bioma</ion-button>
        </div>

        <div class="centrar">
          <ion-button color="light" shape="round" (click)="toggleHelp4()">
            <ion-icon color="warning" name="information-circle-outline" style="font-size: 30px;"></ion-icon>
          </ion-button>
        </div>

        <ion-card *ngIf="showHelp4">

          <ion-card-header class="centrar">
            <ion-card-title>¿Ayuda?</ion-card-title>
            <ion-card-subtitle>Requisitos a pensar.</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <strong>Minecraft id bioma:</strong>
            <ul>
              <li>Solo letras minúsculas, números y remplazando los espacios con guiones bajos ( _ )</li>
              <li>No debe tener espacios vacíos</li>
              <li>Máximo 50 caracteres</li>
            </ul>
            <strong>Nombre del Bioma:</strong>
            <ul>
              <li>Puede contener letras mayúsculas y minúsculas</li>
              <li>No debe contener números ni caracteres especiales</li>
              <li>No debe tener espacios vacíos</li>
              <li>Máximo 50 caracteres</li>
            </ul>
            <strong>Descripción del Bioma:</strong>
            <ul>
              <li>Solo letras y espacios</li>
              <li>No debe contener caracteres especiales</li>
              <li>Máximo 300 caracteres</li>
            </ul>
          </ion-card-content>

        </ion-card> 

      </ion-card-content>
    </ion-card>

  </ion-content>
</div>
