<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/biomas"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Bioma - <br>
      {{ x.bioma_nombre }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ x.bioma_nombre }}</ion-card-title>
      <ion-card-subtitle>{{ x.minecraft_bioma_id }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="word-wrap: break-word; white-space: normal;">
      {{ x.bioma_descripcion }}
    </ion-card-content>
  </ion-card>

</ion-content>