<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Listar Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-item-sliding class="centrar" *ngFor="let x of arregloUsuarios">
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ x.usuario_apodo }}</ion-card-title>
          </ion-card-header>
    
          <ion-card-content style="word-wrap: break-word; white-space: normal;">
            <p>Id del Usuario: {{ x.usuario_id }}</p>
            <p>Tipo de Usuario: {{ x.usuario_tipo }}</p>
            <p>Gmail del Usuario: {{ x.usuario_gmail }}</p>
          </ion-card-content>
        </ion-card>
      </ion-item>
    
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="update(x)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
    
        <ion-item-option color="danger" (click)="eliminar(x)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="end">
        <ion-fab-button (click)="create()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>

      <ion-fab-list side="start">
        <ion-fab-button (click)="refreshPage()">
          <ion-icon name="refresh-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>

    </ion-fab>

  </ion-content>
</div>