<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>ionicCraft</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Registro</ion-title>
      </ion-toolbar>
    </ion-header>
    <br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" placeholder="correo@duocuc.cl"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" placeholder="correoduoc2024"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input formControlName="confirmPassword" type="password" placeholder="correoduoc2024"></ion-input>
          </ion-item>
        </form>
        <br>
        <ion-button (click)="guardar()">Ingresar</ion-button>
      </ion-card-content>
    </ion-card>

  </ion-content>
</div>